
<div id="leftNav">

  {% assign words = page.url | split: '/' %}
  {% assign version = words[2] | getVersion	%}

  {% if version != null %}
    {% assign selectedVersion = words[2] %}
  {% else %}
    {% assign selectedVersion = site.defaultVersion %}
  {% endif %}

  <ul class="nav nav-pills nav-stacked">
    <p class="text-center"><span class="label label-info">SDK Version {{selectedVersion}}</span></p>

    <!-- User Guides -->
    <a href="{{ "en/version/guide/" | prepend: site.baseurl | prepend: site.url | replace: "version", selectedVersion }}">Guide</a>
    {{ selectedVersion | generateGuidesList }}

    <!-- Stings documentation -->
    <a href="{{ "en/version/stings/" | prepend: site.baseurl | prepend: site.url | replace: "version", selectedVersion }}">Stings</a>
    {{ selectedVersion | generateStingsList }}

    <!-- Extra documentation elements -->
    <a href="{{ "en/version/extra/" | prepend: site.baseurl | prepend: site.url | replace: "version", selectedVersion }}">Extra</a>
    {{ selectedVersion | generateExtraList }}

    <!-- SDKs download & doc -->
    <a href="{{site.url}}">SDKs</a>
    <li><a href="{{ "en/version/guide/sdk" | prepend: site.url | replace: "version",selectedVersion }}">How to use it?</a></li>
    <li><img class="mobile-logo" src="{{ "images/android_logo.png" | prepend: site.baseurl | prepend: site.url }}" alt="android"/><a class="os-target" target="_blank" href="{{ "https://search.maven.org/#artifactdetails|io.apisense.sdk|apisense-android-sdk|version|aar" | replace: "version",selectedVersion }}">Android (beta)</a></li>
    <li><img class="mobile-logo" src="{{ "images/ios_logo.png" | prepend: site.baseurl | prepend: site.url }}" alt="iOS"/><a class="os-target" href="{{ "en/version/get/apisense-swift-sdk.tar.gz" | prepend: site.url | replace: "version",selectedVersion }}">iOS (alpha)</a></li>


    <script type="text/javascript">
      $(function() {
        var availableVersions = {% available_versions  %}
        availableVersions.forEach(function (version){
          $("#sdkVersion").append($('<option>', { value : version, text : version }));
        });
        $("#sdkVersion option[value='{{selectedVersion}}']").attr("selected","selected");

        $("#sdkVersion").change(function() {
          var version = this.value; // value of the select element
          var currentUrl = window.location.href
          var updatedUrl = currentUrl.replace(/\/([0-9]+\.?){3}\//, "/"+version+"/");
          console.log(updatedUrl);
          window.location.assign(updatedUrl);
        });
			});
		</script>
		<br/>
		<a href="">SDK Version</a>
		<select id="sdkVersion" name="sdkVersion" class="form-control version">
		</select>
	</ul>
</div>
