<div id="leftNav">
	<ul class="nav nav-pills nav-stacked">
		
		<a href="{{ "en/1.0.0/guide/" | prepend: site.url }}">Guide</a>
		<li><a href="{{ "en/1.0.0/guide/bee/" | prepend: site.url }}">Mobile application</a></li>
		<li><a href="{{ "en/1.0.0/guide/dashboard/" | prepend: site.url }}">Web interface</a></li>
		<li><a href="{{ "en/1.0.0/guide/sdk/" | prepend: site.url }}">SDK</a></li>	

		<a href="{{ "en/1.0.0/stings/" | prepend: site.url }}">Stings</a>
		<li><a href="{{ "en/1.0.0/stings/battery/" | prepend: site.url }}">Battery</a></li>
		<li><a href="{{ "en/1.0.0/stings/location/" | prepend: site.url }}">Location</a></li>
		<li><a href="{{ "en/1.0.0/stings/log/" | prepend: site.url }}">Log</a></li>
		<li><a href="{{ "en/1.0.0/stings/recorder/" | prepend: site.url }}">Recorder</a></li>
		<li><a href="{{ "en/1.0.0/stings/timer/" | prepend: site.url }}">Timer</a></li>
		<li><a href="{{ "en/1.0.0/stings/wifi/" | prepend: site.url }}">Wifi</a></li>

		<a href="">SDKs</a>
		<li><a href="{{ "en/1.0.0/guide/sdk" | prepend: site.url }}">How to use it ?</a></li>
		<li><img class="mobile-logo" src="{{ "images/android_logo.png" | prepend: site.url }}" alt="android"/><a class="os-target" href="{{ "get/apisense-android-sdk-1.0.0.tgz" | prepend: site.url }}">Android (bêta)</a></li>
		<li><img class="mobile-logo" src="{{ "images/ios_logo.png" | prepend: site.url }}" alt="iOS"/><a class="os-target" href="{{ "get/apisense-ios-sdk-release.zip" | prepend: site.url }}">iOS (alpha)</a></li>

		<a href="">SDK Version</a>
		<select disabled class="form-control version">
			<option>1.0.0</option>
		</select>
	</ul>

</div>